h1 {
    font-size: 30px;
    text-align: center;
}

#board {
    padding: 7px;
    border: solid 1px #00f;
    border-spacing: 4px;
    border-radius: 8px 8px 0 0;
    background-color: #00f;
}

#board td {
    width: 50px;
    height: 50px;
    border: solid 1px #000; 
    border-radius: 2000px;
    background-color: #fff;
    padding: 7px;
}


/* pieces are div within game table cells: draw as colored circles */

.piece {
    /* TODO: make into circles*/
    margin: 5px;
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

/* TODO: make pieces red/yellow, depending on player 1/2 piece */


/* column-top is table row of clickable area for each column*/

#column-top td {
    border: bold 2px black;
}

#column-top td:hover {
    background-color: #ffff00;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 100px;
    top: 30px;
}

#playAgain:hover {
    background-color: #ffff00;
}